body{
  background-color: #F9fafc;
  font: 16px/1.5 'Helvetica Neue', sans-serif;
  color: #676390;
  text-align: center;

}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  
}
tbody thead{
  border-radius: 30px;

}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border: none;
  
}

th {
  background-color: #EBF3FF;
  font-weight: bold;
  border: none;
}
